
        <li><a href="/">主页</a></li>
        <li><a href="/categories/">分类</a></li>
        <li><a href="/tags/">标签</a></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">归档<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/categories/centos">CentOS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/categories/ubuntu">Ubuntu</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/categories/redhat">RedHat</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/categories/debian">Debian</a></li>
          </ul>
        </li>
        -->
        <li><a href="/about">关于</a></li>
